<X-Trader>  	
	 <Disruptor yield="spin" />
     <Compliance cancelUpperLimit="240" />
	 
	<Md addr="udp://172.18.80.255:10072" 
		pwd="" 
		user="" />

	<MarketDataReceiver ip="" port=""></MarketDataReceiver>
		
	<Tunnel address="tcp://172.18.113.1:50001" 
			appid="client_xtrader229_2.3" 
			authcode="VEW2C2D5DRSYPJF1" 
			brokerid="" 
			investorid="000000910229" 
			password="226022" 
			userid="000000910229">
	</Tunnel>

	
	<Subscription contracts="../../../domi_contr_check/cur_domi_contrs.txt" />


  <strategies>
		<strategy ev_name="ev/hv3_dla_day.txt" id="1" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_dla_day">
			<symbol exchange="B" max_pos="1" name="a2001" symbol_log_id="333" symbol_log_name="log" />	      	       	   
		</strategy>		
	</strategies>
</X-Trader>
