<X-Trader>  	
	<Disruptor yield="spin" />
	<Compliance cancelUpperLimit="200" />

	<DceMarketData localIp="" port="" />
	<ZceMarketData localIp="" port="" />

          <ShfeL1Md efh_sf_eth="ens3f0" 
					isMulticast="false" 
					mcIp="172.18.32.125" 
					mcLocalIp="172.18.35.153" 
					mcLocalPort="38242" 
					mcPort="42213" 
					password="" 
					userid="" />

        <EfhLev2  remote_ip="组播行情远端地址"   
				  remote_port="组播行情远端端口"
				  local_ip="组播本机地址" 
				  local_port="组播本机端口"
		/>

		<IneEfhLev2  remote_ip="组播行情远端地址"   
			remote_port="组播行情远端端口"
			local_ip="组播本机地址" 
			local_port="组播本机端口"
		/>

        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />

<Tunnel 
		address="tcp://172.18.32.128:42205" 
		brokerid="8888" 
		userid="21000031"
		password="lcf617999" 
		appid="client_xtrader031_2.3" 
		authcode="6Y8M684VM4JMZ1I1" > 
	</Tunnel>	
	
	
<models>
	<strategy ev_name="ev/cpv5_shag_day.txt" id="1" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="cpv5_shag_day">
            <symbol exchange="B" max_pos="12" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/cpv7_shag_day.txt" id="2" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="cpv7_shag_day">
            <symbol exchange="B" max_pos="50" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/rpv0_shal_day.txt" id="3" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="rpv0_shal_day">
            <symbol exchange="B" max_pos="2" name="al1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/chg3_shau_day.txt" id="4" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="chg3_shau_day">
            <symbol exchange="B" max_pos="1" name="au1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/cpv4_shau_day.txt" id="5" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="cpv4_shau_day">
            <symbol exchange="B" max_pos="1" name="au1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/rpv5_shau_day.txt" id="6" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="rpv5_shau_day">
            <symbol exchange="B" max_pos="1" name="au1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tpv0_shau_day.txt" id="7" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tpv0_shau_day">
            <symbol exchange="B" max_pos="2" name="au1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/chg2_shcu_day.txt" id="8" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="chg2_shcu_day">
            <symbol exchange="B" max_pos="4" name="cu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tpv9_shhc_day.txt" id="9" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tpv9_shhc_day">
            <symbol exchange="B" max_pos="30" name="hc2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/chg6_shni_day.txt" id="10" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="chg6_shni_day">
            <symbol exchange="B" max_pos="5" name="ni1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/cpv5_shni_day.txt" id="11" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="cpv5_shni_day">
            <symbol exchange="B" max_pos="10" name="ni1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tpv5_shni_day.txt" id="12" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tpv5_shni_day">
            <symbol exchange="B" max_pos="5" name="ni1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/rpv8_shrb_day.txt" id="13" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="rpv8_shrb_day">
            <symbol exchange="B" max_pos="30" name="rb2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/chg1_shru_day.txt" id="14" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="chg1_shru_day">
            <symbol exchange="B" max_pos="9" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/chg1_shzn_day.txt" id="15" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="chg1_shzn_day">
            <symbol exchange="B" max_pos="3" name="zn1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv3_shag_day.txt" id="16" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_shag_day">
            <symbol exchange="B" max_pos="6" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv7_shag_day.txt" id="17" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv7_shag_day">
            <symbol exchange="B" max_pos="3" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst5_shag_day.txt" id="18" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst5_shag_day">
            <symbol exchange="B" max_pos="3" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst6_shag_day.txt" id="19" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst6_shag_day">
            <symbol exchange="B" max_pos="3" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst9_shag_day.txt" id="20" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst9_shag_day">
            <symbol exchange="B" max_pos="8" name="ag1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv5_shal_day.txt" id="21" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv5_shal_day">
            <symbol exchange="B" max_pos="7" name="al1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv8_shal_day.txt" id="22" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv8_shal_day">
            <symbol exchange="B" max_pos="7" name="al1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/xpv0_shau_day.txt" id="23" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="xpv0_shau_day">
            <symbol exchange="B" max_pos="1" name="au1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv7_shbu_day.txt" id="24" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv7_shbu_day">
            <symbol exchange="B" max_pos="7" name="bu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv3_shcu_day.txt" id="25" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_shcu_day">
            <symbol exchange="B" max_pos="6" name="cu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv5_shcu_day.txt" id="26" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv5_shcu_day">
            <symbol exchange="B" max_pos="6" name="cu1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv7_shfu_day.txt" id="27" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv7_shfu_day">
            <symbol exchange="B" max_pos="4" name="fu2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv8_shfu_day.txt" id="28" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv8_shfu_day">
            <symbol exchange="B" max_pos="4" name="fu2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst0_shfu_day.txt" id="29" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst0_shfu_day">
            <symbol exchange="B" max_pos="10" name="fu2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst1_shfu_day.txt" id="30" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst1_shfu_day">
            <symbol exchange="B" max_pos="4" name="fu2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv3_shhc_day.txt" id="31" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_shhc_day">
            <symbol exchange="B" max_pos="6" name="hc2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv5_shhc_day.txt" id="32" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv5_shhc_day">
            <symbol exchange="B" max_pos="6" name="hc2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/xpv5_shni_day.txt" id="33" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="xpv5_shni_day">
            <symbol exchange="B" max_pos="2" name="ni1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv5_shrb_day.txt" id="34" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv5_shrb_day">
            <symbol exchange="B" max_pos="6" name="rb2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv8_shrb_day.txt" id="35" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv8_shrb_day">
            <symbol exchange="B" max_pos="4" name="rb2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst5_shrb_day.txt" id="36" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst5_shrb_day">
            <symbol exchange="B" max_pos="2" name="rb2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv3_shru_day.txt" id="37" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_shru_day">
            <symbol exchange="B" max_pos="6" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv8_shru_day.txt" id="38" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv8_shru_day">
            <symbol exchange="B" max_pos="5" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst0_shru_day.txt" id="39" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst0_shru_day">
            <symbol exchange="B" max_pos="9" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst1_shru_day.txt" id="40" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst1_shru_day">
            <symbol exchange="B" max_pos="3" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst2_shru_day.txt" id="41" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst2_shru_day">
            <symbol exchange="B" max_pos="3" name="ru2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv3_shsp_day.txt" id="42" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv3_shsp_day">
            <symbol exchange="B" max_pos="7" name="sp2001" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv5_shzn_day.txt" id="43" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv5_shzn_day">
            <symbol exchange="B" max_pos="5" name="zn1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/hv7_shzn_day.txt" id="44" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="hv7_shzn_day">
            <symbol exchange="B" max_pos="5" name="zn1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst0_shzn_day.txt" id="45" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst0_shzn_day">
            <symbol exchange="B" max_pos="8" name="zn1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy><strategy ev_name="ev/tst2_shzn_day.txt" id="46" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="tst2_shzn_day">
            <symbol exchange="B" max_pos="1" name="zn1912" symbol_log_id="333" symbol_log_name="log" />            
    </strategy></models>

</X-Trader>
