<X-Trader>  	
	<Disruptor yield="threaded" />
	<Compliance cancelUpperLimit="200" />
		<DceMarketData localIp="172.18.33.153" port="59001" />
		<ZceMarketData localIp="172.18.33.153" port="59002" />

          <ShfeL1Md efh_sf_eth="ens3f" 
					isMulticast="false" 
					mcIp="172.18.32.125" 
					mcLocalIp="172.18.35.153" 
					mcLocalPort="38242" 
					mcPort="42213" 
					password="" 
					userid="" />


		 
        <ShfeFullDepthMd addr="udp://172.18.35.255:10078" />
        <Subscription contracts="/home/u910019/domi_contr_check/cur_domi_contrs.txt" />

<Tunnel 
		address="tcp://172.18.32.128:42205" 
		brokerid="8888" 
		userid="21000031"
		password="lcf401244" 
		appid="client_xtrader031_2.3" 
		authcode="6Y8M684VM4JMZ1I1" > 
	</Tunnel>	
	
	
<models>
	<strategy ev_name="ev/ev_from_cache" id="1" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="test_v1">			
			<symbol exchange="A" max_pos="12" name="au2002" symbol_log_id="333" symbol_log_name="log" />			   	
			<symbol exchange="A" max_pos="12" name="ag2002" symbol_log_id="333" symbol_log_name="log" />	       		
			<symbol exchange="A" max_pos="12" name="cu2002" symbol_log_id="333" symbol_log_name="log" />			
			<symbol exchange="A" max_pos="12" name="al2002" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="A" max_pos="12" name="pb2001" symbol_log_id="333" symbol_log_name="log" />	       						
			<symbol exchange="A" max_pos="12" name="zn2002" symbol_log_id="333" symbol_log_name="log" />
			<symbol exchange="A" max_pos="12" name="sn2001" symbol_log_id="333" symbol_log_name="log" />	       			
			<symbol exchange="A" max_pos="12" name="ni2002" symbol_log_id="333" symbol_log_name="log" />	       									
			<symbol exchange="A" max_pos="12" name="rb2005" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="A" max_pos="12" name="hc2001" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="A" max_pos="12" name="ru2005" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="A" max_pos="12" name="bu2006" symbol_log_id="333" symbol_log_name="log" />  
			
			<symbol exchange="B" max_pos="12" name="a2005" symbol_log_id="333" symbol_log_name="log" />   
			<symbol exchange="B" max_pos="12" name="m2005" symbol_log_id="333" symbol_log_name="log" />   
			<symbol exchange="B" max_pos="12" name="p2005" symbol_log_id="333" symbol_log_name="log" />   
			<symbol exchange="B" max_pos="12" name="y2005" symbol_log_id="333" symbol_log_name="log" />   			
			<symbol exchange="B" max_pos="12" name="j2005" symbol_log_id="333" symbol_log_name="log" />   
			<symbol exchange="B" max_pos="12" name="jm2001" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="B" max_pos="12" name="i2005" symbol_log_id="333" symbol_log_name="log" />
			
			<symbol exchange="B" max_pos="12" name="SR005" symbol_log_id="333" symbol_log_name="log" />  
			<symbol exchange="B" max_pos="12" name="CF005" symbol_log_id="333" symbol_log_name="log" />   			
			<symbol exchange="B" max_pos="12" name="RM005" symbol_log_id="333" symbol_log_name="log" />   			 
			<symbol exchange="B" max_pos="12" name="OI005" symbol_log_id="333" symbol_log_name="log" />   
			<symbol exchange="B" max_pos="12" name="MA001" symbol_log_id="333" symbol_log_name="log" />   			
			<symbol exchange="B" max_pos="12" name="FG005" symbol_log_id="333" symbol_log_name="log" />   			   		
			<symbol exchange="B" max_pos="12" name="ZC005" symbol_log_id="333" symbol_log_name="log" />   			
			<symbol exchange="B" max_pos="12" name="TA005" symbol_log_id="333" symbol_log_name="log" />
			
    </strategy>
</models>

</X-Trader>
