<X-Trader>  	
<Disruptor yield="threaded" />
	<Compliance cancelUpperLimit="200" />
	<DceMarketData localIp="172.18.33.153" port="59001" />
	<ZceMarketData localIp="172.18.33.153" port="59002" />

     <ShfeL1Md efh_sf_eth="ens3f" isMulticast="false" mcIp="172.18.32.125" mcLocalIp="172.18.35.153" mcLocalPort="38242" mcPort="42213" password="" userid="" />

	 <EfhLev2 local_ip="172.18.35.153" local_port="69827" remote_ip="233.32.2.100" remote_port="32200" />
				  
	<IneEfhLev2 local_ip="172.18.35.153" local_port="59827" remote_ip="233.42.2.100" remote_port="42200" />


		 
        <ShfeFullDepthMd addr="udp://172.18.35.255:10078" />
        <Subscription contracts="/home/u910019/yao/mc/contracts.txt" />

  <Tunnel 
			address="tcp://101.230.197.56:32205" 
			brokerid="2084" 
			investorid="999111411" 
			password="a8888888" 
			userid="999111411"
			appid="client_xtrader168_2.3"
			authcode="5G26INDVTQ48S8SX">
	</Tunnel>

<models>
	<strategy ev_name="ev/ev_from_cache" id="1" iv_name="iv/iv.txt" k_file="st_data/k.txt" log_name="log" model_file="test_v3_arb_SY">			
		<symbol exchange="A" max_pos="12" name="m2105" symbol_log_id="333" symbol_log_name="log" />
	</strategy>
</models>

</X-Trader>
